<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アイテム一覧 - 推し活ポートフォリオ</title>
    <link rel="stylesheet" href="/css/mypage.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
<header>
    <h1>推し活ポートフォリオ</h1>
    <form action="/signout" method="post">
        <button class="logout-btn">ログアウト</button>
    </form>
</header>

<div class="item-container">
    <form action="/mypage" method="get">
        <button class="logout-btn">戻る</button>
    </form><br>
    <% if @items.empty?%>
        <p>まだ登録されていません</p>
    <% else %>
        <div class="item-grid">
            <% sorted_items = @items.order(created_at: :desc) %>
            <% sorted_items.each do |item| %>
                <div class="item">
                    <a href="#">
                        <img src="<%= item.image_url %>" alt="<%= item.name %>">
                        <p class="item-name"><%= item.name %></p>
                        <p class="item-category">#<%= item.category%></p>
                        <p class="item-price">¥<%= item.price %></p>
                    </a>
                </div>
            <% end %>
            <% end %>
                
        </div>
</div>
</div>
</body>
</html>